
@media screen and (max-width: 1280px) {
  main {
    padding-bottom: 100px;
    .message {
      padding: 0 80px;
      margin-bottom: 95px;
      line-height: 45px;
      font-size: 36px;
    }
    .fe-ctn {
      margin: 0 37%;
      .btn {
        font-size: 18px;
        padding-bottom: 8px;
        width: auto;
      }
      .skip-btn{
        padding-left: 44px;
        padding-right: 44px;
        width: auto;
      }
      .settings-btn{
        padding-left: 30px;
        padding-right: 30px;
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  main {
    padding-bottom: 100px;
    .message {
      padding: 0 80px;
      margin-bottom: 199px;
      line-height: 45px;
      br{
        display: none;
      }
    }
    .fe-ctn {
      margin: 0 84px 0 86px;
      .btn {
        width: 48%;
        font-size: 22.64px;
        padding-top: 21px;
        padding-bottom: 22px;
      }
      .skip-btn {
        padding-left: 0;
        padding-right: 0;
      }
      .settings-btn {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
