.deleteMode {
  .task-item{
    border-left: 0;
    .trs-ctn {
      width: 87px !important;
      margin-right: 15px;
      .delTask-btn{
        display: block;
        & + label:before{
          padding: 32px 20px;
        }
      }
    }
    .delTask-btn + label {
      cursor: pointer;
    }

    .delTask-btn + label:before {
      opacity: 1 !important;
    }

    .date-ctn {
      display: none !important;
    }
  }
}

section.tasks-ctn {
  margin-bottom: 40px;
  .tasks-list-done{
    .task-item{
      background: @Silver;
      .task-info{
        .task-title{
          font: @heading3;
          text-decoration: line-through;
        }
      }
      .edit-btn{
        display: none;
      }
    }
  }
}
.task-item {
  display: flex;
  background: white;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  position: relative;
  -webkit-box-shadow: 0px 5px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 33px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 33px 0px rgba(0,0,0,0.75);
  border-left: 9px solid;
  .trs-ctn {
    //width: 9px;
    .delTask-btn {
      opacity: 0;
      display: none;
      position: absolute;
      & + label {
        position: relative;
        padding: 0;
        z-index: 2;
      }
      & + label:before {
        padding: 20px 0;
        opacity: 0;
        width: 0;
        display: inline-block;
        font-size: 47px;
        text-align: center;
        vertical-align: text-top;
        color: @White;
      }
      &:checked + label:before {
        content: '\E906';
      }
    }
  }
  .date-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: @DarkGray;
    .date-num{
      width: 94px;
      font: bold 27px @pt_sans;
    }
    .date-day{
      width: 94px;
      font: 11px @roboto;
      text-transform: uppercase;
    }
  }
  .task-info {
    flex-grow: 1;
    .task-title{
      font: @heading3;
    }
    .task-desc{
      font: @paragraph;
      color: @Grey;
    }
  }
  .btn-ctn {
    display: flex;
    flex-direction: column;
    .btn{
      margin-right: 30px;
      padding: 6px 0;
      background: none;
      outline: none;
      border: none;
      color: @Silver;
      font-size: 18px;
      &:hover{
        color: @Nepal;
      }
    }
  }

  .priority-ctn {
    padding: 20px;
    text-align: center;
    color: @White;
    font-size: 47px;
    position: relative;
    &:hover{
      &:before{
        content: "\e90e";
      }
      span{
        display: none;
      }
    }
    span{
      font: 30px @pt_sans;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.globalList-btn {
  color: @Nepal;
  font: 20px @pt_sans;
  align-self: flex-start;
  span {
    vertical-align: middle;
    font-size: 10px;
  }
  &:hover {
    color: @Spray;
  }
}
section.globalList-ctn {
  margin-top: 32px;
  clear: both;
  .global-taskList{
    list-style: none;
    .global-taskListItem{
      position: relative;
      &:before{
        content: '';
        width: 9px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 2;
        left: 0;
        position: absolute;
      }
      .global-taskListItem-title{
        font: @heading2;
        text-transform: uppercase;
        line-height: 15px;
        position: relative;
        padding-left: 20px;
        padding-bottom: 20px;
        &::before{
          content: '';
          width: 17px;
          height: 17px;
          border-radius: 50%;
          vertical-align: text-bottom;
          background: red;
          position: absolute;
          z-index: 3;
          left: -4px;
          top: -1px;
        }
        &::after{
          content: '';
          width: 9px;
          height: 9px;
          border-radius: 50%;
          vertical-align: text-bottom;
          border: 2px solid @Madison;
          position: absolute;
          z-index: 4;
          left: -2px;
          top: 1px;
        }
      }
      .global-taskListItem-list{
        .overdue{
          color: @urgent;
        }
        .task-info{
          padding-left: 9px;
        }
      }
    }
    .task-item{
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1280px) {

  .deleteMode {
    .task-item{
      .trs-ctn {
        margin-right: 12px;
        width: 101px !important;;
      }

      .delTask-btn + label:before {
        //padding: 32px 20px !important;
        width: 61px;
      }
    }
  }

  section.tasks-ctn {
    margin-bottom: 20px;
  }

  .task-item {
    margin-bottom: 12px;
    .trs-ctn {
      .delTask-btn{
        & + label:before{
          font-size: 50px;
        }
      }
    }

    .date-ctn {

      .date-num {
        width: 104px;
        font: bold 27px @pt_sans;
      }
      .date-day {
        width: 104px;
        font-size: 14px
      }
    }

    .task-info {
      .task-title {
        font-size: 22px;
        line-height: 38px;
      }
      .task-desc {
        font-size: 19px;
      }
    }

    .btn-ctn {
      .btn {
        font-size: 24px;
      }
    }

    .priority-ctn {
      padding: 26px 20px 28px 21px;
      font-size: 60px;
      span{
        font-size: 28px;
      }
    }
  }

  .globalList-btn {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {

  .deleteMode {
    .task-item{
      .trs-ctn {
        width: 101px;
        margin-right: 20px;
        .delTask-btn + label:before {
          width: 61px;
          font-size: 57px;
        }
      }
    } 
  }

  section.tasks-ctn {
    margin-bottom: 48px;
  }

  .task-item {
    margin-bottom: 12px;
    .trs-ctn {
      //width: 20px;
      .delTask-btn {
        & + label:before {
          font-size: 47px;
        }
      }
    }
    .date-ctn {
      .date-num {
        width: 112px;
        font: bold 27px @pt_sans;
      }
      .date-day {
        width: 112px;
        font-size: 14px;
      }
    }

    .task-info {
      .task-title {
        font-size: 24px;
        line-height: 27px;
      }
      .task-desc {
        font-size: 17px;
      }
    }

    .priority-ctn {
      padding: 27px 18px 28px 17px;
      font-size: 66px;
      span{
        font-size: 28px;
      }
    }
  }

  .globalList-btn {
    span{
      font-size: 12px;
      padding-left: 6px
    }
  }

  // section.globalList-ctn {
  //   .global-taskList{
  //     .global-taskListItem{
  //       &:before{
  //         width: 20px;
  //       }
  //     }
  //   }
  // }
}
