<div class="title-ctn fe-title">
    <h1 class="title">Daily Task List</h1>
    <button class="addTask-btn icon-add"></button>
</div>
<img class="tomato-image" src="/tomato_settings.svg" alt="tomato settings img">
<h2 class="fe-message message">As you visited our site for a first time you can check<br>
    and customize your default application settings</h2>
<div class="redir-ctn fe-ctn">
    <a href="#/tasks-list/" class="skip-btn btn blue-btn">Skip</a>
    <a href="#/settings/" class="settings-btn btn green-btn">Go to Settings</a>
</div>
