<div class="title-ctn">
    <h1 class="title">Daily Task List</h1>
    <button class="addTask-btn icon-add"></button>
</div>
<div class="tabs-ctn">
  <ul class="hide select-tabs">
    <li class="tabs-item"><a href="#" class="selectAll">Select</a></li>
    <li class="tabs-item"><a href="#" class="deselectAll">Deselect</a></li>
  </ul>
  <ul class="daily-tabs tasks-tabs">
    <li class="tabs-item"><a href="#" class="toDo-btn filter-item">To Do</a></li>
    <li class="tabs-item"><a href="#" class="done filter-item">Done</a></li>
  </ul>
</div>

<section class="tasks-ctn">

</section>
<a href="#" class="globalList-btn" role="button" data-tooltip="Go to Global list">Global list <span class="icon-global-list-arrow-right"></span></a>
<section class="globalList-wrapper hide">
    <div class="tabs-ctn">
    <ul class="select-tabs hide">
      <li class="tabs-item"><a href="#" class="selectAllGlobal">Select</a></li>
      <li class="tabs-item"><a href="#" class="deselectAllGlobal">Deselect</a></li>
    </ul>
    <ul class="daily-tabs filter-tabs">
      <li class="tabs-item"><a href="#" class="all filter-item">All</a></li>
      <li class="tabs-item"><a href="#" class="urgent filter-item">Urgent</a></li>
      <li class="tabs-item"><a href="#" class="high filter-item">High</a></li>
      <li class="tabs-item"><a href="#" class="middle filter-item">Middle</a></li>
      <li class="tabs-item"><a href="#" class="low filter-item">Low</a></li>
    </ul>
  </div>
  <section class="globalList-ctn"</section>

  </section>
</section>
