<ul class="report_tabs daily-tabs ">
    <li class="tabs-item"><a href="#" class="active">Day</a></li>
    <li class="tabs-item"><a href="#">Week</a></li>
    <li class="tabs-item"><a href="#">Month</a></li>
</ul>
<img class="graph_img" src="/Graph1.png" alt="graph">
<img src="/Legend.png" alt="Legend" class="graphLegend">
<ul class="report_tabs daily-tabs ">
    <li class="tabs-item"><a href="#" >Pomodoros</a></li>
    <li class="tabs-item"><a href="#" class="active">Tasks</a></li>
</ul>
