<div class="title-ctn timer-title">
    <h1 class="title">{{this.taskTitle}}</h1>
</div>
<p class="subheading">{{this.taskDesc}}</p>
<ul class="tomato-list">
    <li class='tomato hide'><img src="/empty-tomato.svg" alt="tomato"></li>
    <li class='tomato hide'><img src="/empty-tomato.svg" alt="tomato"></li>
    <li class='tomato hide'><img src="/empty-tomato.svg" alt="tomato"></li>
    <li class='tomato hide'><img src="/empty-tomato.svg" alt="tomato"></li>
    <li class='tomato hide'><img src="/empty-tomato.svg" alt="tomato"></li>
</ul>
<a href="#/tasks-list/" class="icon-arrow-left"></a>
<div class="timer-group">
    <div class="timer minute">
        <div class="hand"><span></span></div>
        <div class="hand"><span></span></div>
    </div>
    <div class="face">
        <h2 class="text">Lets do it!</h2>
    </div>
</div>
<a href="#" class="btn start-btn green-btn">Start</a>
