
<div class="title-ctn timer-title">
    <h1 class="title">{{this.taskTitle}}</h1>
</div>
<p class="subheading">{{this.taskDesc}}</p>

<ul class="tomato-list">

</ul>


<a href="#/tasks-list/" class="icon-arrow-left hide" data-tooltip="Go to Global list"></a>
<a href="#/reports/" class="icon-arrow-right hide" data-tooltip="Go to Reports"></a>
<div class="timer-group {{this.taskType}}">
    <div class="timer minute">
        <div class="hand"><span></span></div>
        <div class="hand"><span></span></div>
    </div>
    <div class="face">
        <h2 class="text"></h2>
        <h2 class="num"></h2>
        <p class="time-text"></p>
    </div>
</div>
<div class="btn-ctn timer-redir-btn">
    <a href="#" class="btn red-btn">Fail Pomodora</a>
    <a href="#" class="btn green-btn">Finish Pomodora</a>
    <a href="#" class="btn green-btn hide">Start Pomodora</a>
    <a href="#" class="btn blue-btn hide">Finish Task</a>
</div>
