<div class="title-ctn timer-title">
    <h1 class="title">1. Creating a New Design</h1>
</div>
<p class="subheading">Lorem ipsum dolor sit amet consectetur adipiscing</p>
<ul class="tomato-list">
    <li><img src="/empty-tomato.svg" alt="tomato"></li>
    <li><img src="/empty-tomato.svg" alt="tomato"></li>
    <li><img src="/empty-tomato.svg" alt="tomato"></li>
</ul>
<a href="#/tasks-list/" class="icon-arrow-left icon-arrow-left"></a>
<img class="timer-img" src="/Timer.png" alt="timer">
<a href="#" class="btn start-btn green-btn">Start</a>
