<div class="wrapper">
    <img class="logo" src="/Logo.svg" alt="logo">
    <nav>
        <ul class="nav-buttons">
            <li><a href="#" class="nav-link icon-add hide" data-tooltip="Add task"></a></li>
            <li><a href="#" class="nav-link icon-trash" data-tooltip="Delete tasks"><span class="trashCounter"></span></a></li>
            <li><a href="#/tasks-list/" class="nav-link icon-list" data-tooltip="Go to Tasks list"></a></li>
            <li><a href="#/report/" class="nav-link icon-statistics" data-tooltip="Go to Reports"></a></li>
            <li><a href="#/settings/" class="nav-link icon-settings" data-tooltip="Go to Settings"></a></li>
        </ul>
    </nav>
</div>
