/* example of using mixins */
@import ( reference ) '~@less-helpers-module/_mixins.less'; // ~@less-helpers-module - is a path to less helpers folder

header{
  .logo{
    display: none;
  }
  nav{
      padding: 58px 0 10px;
      ul{
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        li{
          padding-left: 35px;
          font-size: 18px;
          a{
            color: @Nepal;
            text-decoration: none;
            &:hover{
              color: @Spray;
            }
          }
          .active{
            color: @White;
          }
        }
      }
    }
  .icon-trash{
    position: relative;
    .trashCounter{
      background: @Tomato;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      display: none;
      text-align: center;
      line-height: 18px;
      font-size: 9px;
      color: @White;
      bottom: -45%;
      right: -45%;
    }
  }
}

.fixed-header{
  position: fixed;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  background: @Madison;
  padding: 27px 0;
  -webkit-box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.75);
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 250px;
      height: 72px;
      display: block;
    }
    nav{
      padding: 0;
    }
  }
}

@media screen and (max-width: 1280px){
  header {
    nav {
      padding: 57px 0 10px;
      ul {
        li {
          font-size: 25px;
          padding-left: 43px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  header {
    nav {
      padding: 52px 0 10px;
      ul {
        li {
          font-size: 26px;
        }
      }
    }
  }
}
