 <header id="header">
      <div class="wrapper">
          <img class="logo" src="/Logo.svg" alt="logo">
          <nav>
              <ul>
                  <li><a href="" class="nav-link icon-add hide"></a></li>
                  <!--<li><a href="remove_tasks.html" class="nav-link icon-trash"></a></li>-->
                  <li><a href="#" class="nav-link icon-list active"></a></li>
                  <li><a href="#" class="nav-link icon-statistics"></a></li>
                  <li><a href="settings_pomodoros.html" class="nav-link icon-settings"></a></li>
              </ul>
          </nav>
      </div>
  </header>
 <div class="wrapper">
     <main>
         <div class="title-ctn">
             <h1 class="title">Daily Task List</h1>
             <button class="addTask-btn icon-add"></button>
         </div>
         <ul class="daily-tabs">
             <li class="tabs-item"><a href="#" class="active">To Do</a></li>
             <li class="tabs-item"><a href="tasks_done.html">Done</a></li>
         </ul>
     </main>
 </div>



