<div class="wrapper">
    <img class="logo" src="/Logo.svg" alt="logo">
    <nav>
        <ul>
            <li><a href="#" class="nav-link icon-add hide"></a></li>
            <li><a href="#" class="nav-link icon-trash"></a></li>
            <li><a href="#/tasks-list/" class="nav-link icon-list"></a></li>
            <li><a href="#/report/" class="nav-link icon-statistics"></a></li>
            <li><a href="#/settings/" class="nav-link icon-settings"></a></li>
        </ul>
    </nav>
</div>


