<div class="titleWithSub-ctn">
    <h1 class="title">Settings</h1>
    <h2 class="subtitle">Сategories list overview</h2>
    <ul class="tabs">
        <li class="tabs-item"><a href="#/settings/">Pomodoros</a></li>
        <li class="tabs-item"><a href="#/settings/" class="active">Categories</a></li>
    </ul>
</div>
<section class="categories">
    <ul class="categories-list">
        <li class="categories-list-item"><span>Work</span></li>
        <li class="categories-list-item"><span>Education</span></li>
        <li class="categories-list-item"><span>Hobby</span></li>
        <li class="categories-list-item"><span>Sport</span></li>
        <li class="categories-list-item"><span>Other</span></li>
    </ul>
</section>
<a href="#" class="btn redir-btn blue-btn task-btn">Go to Tasks</a>
