 <div class="modal-ctn">
        <div class="btn-ctn task-ctn">
            <a href="#" class="btn add-btn icon-check" role="button"></a>
            <a href="#" class="btn cancel-btn icon-close" role="button"></a>

        </div>
        <h1 class="modal-title">Add Task</h1>
        <form id="addTaskForm" action="">
            <label for="taskTitle" class="form-labels">Title</label>
            <input type="text" id="taskTitle" placeholder="Add title here">
            <label for="taskDesc" class="form-labels">Description</label>
            <input type="text" id="taskDesc" placeholder="Add description here">
            <div class="category-group" role="group">
                <h4 class="form-labels">Category</h4>
                <div class="category-ctn">
                    <div class="rb-ctn">
                        <input type="radio" id="workCategoryOption" name="categoryOptions" class="categoryOption"  value="task-work" checked>
                        <label for="workCategoryOption" class="optionTitle">Work</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="educationCategoryOption" name="categoryOptions" class="categoryOption" value="task-education">
                        <label for="educationCategoryOption" class="optionTitle">Education</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="hobbyCategoryOption" name="categoryOptions" class="categoryOption" value="task-hobby">
                        <label for="hobbyCategoryOption" class="optionTitle">Hobby</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="sportCategoryOption" name="categoryOptions" class="categoryOption" value="task-sport">
                        <label for="sportCategoryOption" class="optionTitle">Sport</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="otherCategoryOption" name="categoryOptions" class="categoryOption" value="task-other">
                        <label for="otherCategoryOption" class="optionTitle">Other</label>
                    </div>
                </div>
            </div>
            <label for="taskDeadline" class="form-labels">Deadline</label>
            <input type="text" id="taskDeadline" class="form-labels" placeholder="23 May, 2016">
            <div class="estimation-group" role="group">
                <h4 class="form-labels">Estimation</h4>
                <div class="estimation-ctn">
                    <fieldset class="rating">
                        <input type="radio" id="pom5" class="tomatoRank" name="estimation" value="5" /><label class = "optionTitle" for="pom5"></label>
                        <input type="radio" id="pom4" class="tomatoRank" name="estimation" value="4" /><label class = "optionTitle" for="pom4"></label>
                        <input type="radio" id="pom3" class="tomatoRank" name="estimation" value="3" checked/><label class = "optionTitle" for="pom3"></label>
                        <input type="radio" id="pom2" class="tomatoRank" name="estimation" value="2" /><label class = "optionTitle" for="pom2"></label>
                        <input type="radio" id="pom1" class="tomatoRank" name="estimation" value="1" /><label class = "optionTitle" for="pom1"></label>
                    </fieldset>
                </div>
            </div>
            <div class="priority-group" role="group">
                <h4 class="form-labels">Priority</h4>
                <div class="priority-ctn">
                    <div class="rb-ctn">
                        <input type="radio" id="urgentPriorityOption" name="priorityOptions" class="priorityOption" value="priority-urgent" checked>
                        <label for="urgentPriorityOption" class="optionTitle">Urgent</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="highPriorityOption" name="priorityOptions" class="priorityOption" value="priority-high">
                        <label for="highPriorityOption" class="optionTitle">High</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="middlePriorityOption" name="priorityOptions" class="priorityOption" value="priority-middle">
                        <label for="middlePriorityOption" class="optionTitle">Middle</label>
                    </div>
                    <div class="rb-ctn">
                        <input type="radio" id="lowPriorityOption" name="priorityOptions" class="priorityOption" value="priority-low">
                        <label for="lowPriorityOption" class="optionTitle">Low</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
