<div class="modal-ctn">
    <div class="btn-ctn task-ctn">
        <a href="#" class="btn cancel-btn icon-close" role="button"></a>
    </div>
    <h1 class="modal-title">Remove Task</h1>
    <div class="remove-ctn">
        <h2 class="remove-question">Are you sure you want to remove selected task(s)?</h2>
        <div class="btn-ctn">
            <a href="#" class="cancel-btn btn">Cancel</a>
            <a href="#" class="remove-btn btn">Remove</a>
        </div>
    </div>
</div>
