<div class="title-ctn report-title">
    <h1 class="title">Report</h1>
</div>
<ul class="report_tabs daily-tabs ">
    <li class="tabs-item"><a href="#" class="day-btn">Day</a></li>
    <li class="tabs-item"><a href="#" class="week-btn">Week</a></li>
    <li class="tabs-item"><a href="#" class="month-btn">Month</a></li>
</ul>
<a href="#/tasks-list/" class="icon-arrow-left" data-tooltip="Go to Global list"></a>
<div id="reportGraph"></div>
<ul class="report_tabs daily-tabs type_tabs">
    <li class="tabs-item"><a href="#" class="pomodoros-btn">Pomodoros</a></li>
    <li class="tabs-item"><a href="#" class="tasks-btn">Tasks</a></li>
</ul>

