* {
  padding: 0;
  margin: 0;
}

body {
  background: @background-color;
  min-width: 600px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1185px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-ctn {
    display: flex;
    justify-content: center;
    color: @White;
    margin-bottom: 28px;
    .title {
      font: @heading1;
      font-weight: 600;
      word-spacing: 4px;
      padding-right: 22px;
    }
    .addTask-btn {
      background: none;
      outline: none;
      border: none;
      color: @White;
    }
  }

  .daily-tabs {
    float: right;
  }

  .select-tabs {
    float: left;
  }

  .tabs-ctn {
    padding-bottom: 20px;
  }

  .select-tabs,
  .daily-tabs {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    .tabs-item {
      a {
        font: @caption;
        font-size: 16px;
        color: @Nepal;
        padding: 0 9px;
        position: relative;
        &:hover,
        &:focus{
          color: @Spray;
        }
      }
      .active {
        color: @White;
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:not(:last-child) {
        a {
          &:after {
            content: '';
            border-right: 1px solid @Nepal;
            right: 0;
            top: 0;
            bottom: 0;
            height: 50%;
            margin: auto 0;
            color: @Nepal;
            position: absolute;
          }
        }
      }
    }
  }

  .message {
    font: @message;
    color: @Nepal;
    text-align: center;
    margin-bottom: 62px;
  }

  .tomato-image {
    width: 171px;
    height: 160px;
    margin: 96px auto 70px;
  }

  .btn{
    color: @White;
    font: @caption;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    padding: 13px 25px 12px;
  }

  .green-btn {
    background: @MountainMeadow;
    &:hover,
    &focus {
      background: @MountainMeadowDark;
    }
  }

  .blue-btn {
    background: @Malibu;
    &:hover,
    &focus {
      background: @CuriousBlue;
    }
  }

  .red-btn {
    background: @Tomato;
    &:hover,
    &focus {
      background: @DarkCoral;
    }
  }

  .redir-ctn {
    display: flex;
    justify-content: space-between;
    .btn{
      width: 39%;
    }
  }

  .btn-ctn {
    display: flex;
    justify-content: center;

    .save-btn {
      padding-left: 45px;
      padding-right: 45px;
      margin-left: 2%;
      background: @MountainMeadow;
      &:hover,
      &:focus {
        background: @MountainMeadowDark;
      }
    }
  }

  .arrow-btn {
    margin: 0 auto;
    font-size: 60px;
    color: @Nepal;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1279px) {
  .wrapper {
    margin: 0 50px;
  }
  main{
    padding-bottom: 100px;
    .title-ctn {
      margin-bottom: 58px;
      .title {
        font-size: 30px;
        word-spacing: 5px;
        padding-right: 33px;
      }
      .addTask-btn {
        background: none;
        outline: none;
        border: none;
        color: @White;
      }
    }
    .tabs-ctn {
      padding-bottom: 22px;
    }
    .select-tabs,
    .daily-tabs {
      .tabs-item {
        a {
          font-size: 22px;
          line-height: 31px;
          padding: 0 14px;
        }
      }
    }
    .tomato-image {
      width: 214px;
      height: 200px;
      margin: 132px auto 175px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 28px;
  }
  main {
    padding-bottom: 70px;
    .title-ctn {
      position: absolute;
      top: -50px;
      margin-bottom: 58px;
      .title {
        font-size: 32px;
        word-spacing: 0px;
        padding-right: 33px;
      }
      .addTask-btn{
        font-size: 15px;
      }
    }

    .tabs-ctn {
      padding-top: 35px;
      padding-bottom: 52px;
    }

    .select-tabs,
    .daily-tabs {
      .tabs-item {
        a {
          font-size: 24px;
          padding: 0 15px;
        }
      }
    }

    .btn-ctn{
      .save-btn{
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .redir-ctn {
      margin: 0 84px 0 86px;
      .btn {
        width: 50%;
      }
    }

    .tomato-image {
      margin: 207px auto 65px;
    }
  }
}
