<section class="settings">
    <ul class="settings-ctn">
        <li class="settings-item">
            <div class="row">
                <h4 class="settings-label">Work Time</h4>
                <div class="input-ctn" id="workTime-voter">
                    <span class="minus minus-btn">-</span>
                    <span id="workTime-value" class="settings-input">25</span>
                    <span class="plus plus-btn">+</span>
                </div>
            </div>
            <h2 class="input-caption">Please select a value between 15 and 25 <span>minutes</span></h2>
        </li>
        <li class="settings-item">
            <div class="row">
                <h4 class="settings-label">Work Iteration</h4>
                <div class="input-ctn" id="iteration-voter">
                    <span class="minus minus-btn">-</span>
                    <span id="iteration-value" class="settings-input">5</span>
                    <span class="plus plus-btn">+</span>
                </div>
            </div>
            <h2 class="input-caption">Please select a value between 2 and 5 <span>iterations</span></h2>
        </li>
        <li class="settings-item">
            <div class="row">
                <h4 class="settings-label">Short Break</h4>
                <div class="input-ctn" id="shortBreak-voter">
                    <span class="minus minus-btn">-</span>
                    <span id="shortBreak-value" class="settings-input">5</span>
                    <span class="plus plus-btn">+</span>
                </div>
            </div>
            <h2 class="input-caption">Please select a value between 3 and 5 <span>minutes</span></h2>
        </li>
        <li class="settings-item">
            <div class="row">
                <h4 class="settings-label">Long Break</h4>
                <div class="input-ctn" id="longBreak-voter">
                    <span class="minus minus-btn">-</span>
                    <span id="longBreak-value" class="settings-input">30</span>
                    <span class="plus plus-btn">+</span>
                </div>
            </div>
            <h2 class="input-caption">Please select a value between 15 and 30 <span>minutes</span></h2>
        </li>
    </ul>
</section>
<section class="cycle">
    <h1 class="title">Your cycle</h1>
    <div class="totalTime-ctn">
        <span class="startTime">0m<br><span class="marker">.</span></span>
        <span class="phaseTime"></span>
        <span class="endTime"></span>
    </div>
    <div class="graph-ctn">
        <div class="iteration-line">
            <div class="workTime-line"></div>
            <div class="shortBreak-line"></div>
        </div>
        <div class="iteration-line">
            <div class="workTime-line"></div>
            <div class="shortBreak-line"></div>
        </div>
        <div class="iteration-line">
            <div class="workTime-line"></div>
            <div class="shortBreak-line"></div>
        </div>
        <div class="iteration-line">
            <div class="workTime-line"></div>
            <div class="shortBreak-line"></div>
        </div>
        <div class="iteration-line">
            <div class="workTime-line"></div>
        </div>
        <div class="longBreak-line"></div>
        <div class="iteration-line">
            <div class="workTime-line"></div>
        </div>
        <div class="iteration-line">
            <div class="shortBreak-line"></div>
            <div class="workTime-line"></div>
        </div>
        <div class="iteration-line">
            <div class="shortBreak-line"></div>
            <div class="workTime-line"></div>
        </div>
        <div class="iteration-line">
            <div class="shortBreak-line"></div>
            <div class="workTime-line"></div>
        </div>
        <div class="iteration-line">
            <div class="shortBreak-line"></div>
            <div class="workTime-line"></div>
        </div>
    </div>
    <div class="timePoints-ctn">
        <span class="timePoint"><span class="marker">.</span><br>30m</span>
        <span class="timePoint"><span class="marker">.</span><br>1h</span>
        <span class="timePoint"><span class="marker">.</span><br>1h30m</span>
        <span class="timePoint"><span class="marker">.</span><br>2h</span>
        <span class="timePoint"><span class="marker">.</span><br>2h30m</span>
        <span class="timePoint"><span class="marker">.</span><br>3h</span>
        <span class="timePoint"><span class="marker">.</span><br>3h30m</span>
        <span class="timePoint"><span class="marker">.</span><br>4h</span>
        <span class="timePoint"><span class="marker">.</span><br>4h30m</span>
        <span class="timePoint"><span class="marker">.</span><br>5h</span>
    </div>
</section>
<div class="btn-ctn">
    <a href="task_list.html" class="redir-btn btn">Go to Tasks</a>
    <a href="#" class="save-btn btn">Save</a>
</div>
